/*--------------------
	Mixin
--------------------*/
/*--------------------
	shop
--------------------*/
#header {
  background: url("../images/shop/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

.anc_link {
  width: 1000px;
  margin: 0 auto;
  padding: 48px 0 65px 0;
}
.anc_link li {
  float: left;
  font-size: 14px;
  line-height: 1em;
  margin-left: 26px;
}
.anc_link li:first-child {
  margin-left: 0;
}
.anc_link li a {
  display: block;
  width: 230px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: #faed00;
  padding: 15px 0 12px 0;
}

h3.ttl {
  width: 1400px;
  margin: -20px auto 70px;
  padding-top: 20px;
}

.center_img {
  width: 1000px;
  margin: 0 auto;
}
.center_img img {
  vertical-align: bottom;
}

.center_1022 {
  width: 1022px;
  margin: 0 auto;
}
.center_1022 img {
  margin-left: -12px;
  vertical-align: bottom;
}

.center_1400 {
  width: 1400px;
  margin: 0 auto;
}
.center_1400 img {
  vertical-align: bottom;
}

.mg_b50 {
  margin-bottom: 50px;
}

.mg_b60 {
  margin-bottom: 60px;
}

.mg_b80 {
  margin-bottom: 80px;
}

.mg_b120 {
  margin-bottom: 120px;
}

.mg_b140 {
  margin-bottom: 140px;
}

.mg_b160 {
  margin-bottom: 160px;
}

.mg_b180 {
  margin-bottom: 180px;
}

.mg_b200 {
  margin-bottom: 200px;
}
