/*--------------------
	Mixin
--------------------*/
/*--------------------
	top
--------------------*/
#header {
  width: 100%;
  min-width: 1000px;
  position: relative;
}
#header h1 {
  background: url("../images/top/header_cusmo.jpg") center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  width: 100%;
  height: 100%;
}
#header h1 img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  margin: 0 auto;
  width: 42px;
  height: 20px;
  cursor: pointer;
}
#header #menu {
  background: url("../images/common/bg_menu.png") left top;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#header #menu ul {
  width: 945px;
  margin: 0 auto;
}
#header #menu ul li {
  float: left;
  margin-left: 50px;
  color: #fff;
}
#header #menu ul li.cs1 {
  min-width: 140px;
}
#header #menu ul li.cs2 {
  min-width: 140px;
}
#header #menu ul li.cs3 {
  min-width: 140px;
}
#header #menu ul li:first-child {
  margin-left: 0;
}
#header #menu ul li a {
  display: block;
  padding: 35px 0 30px 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
}

.concept {
  margin-top: 128px;
  padding-bottom: 105px;
}
.concept h3 {
  width: 311px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.concept p {
  width: 692px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.concept .btn_more {
  width: 82px;
  margin: 0 auto;
}

.bene_pro {
  background: #eeeeee;
  margin-bottom: 105px;
}
.bene_pro .cf {
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}
.bene_pro .cf .fll {
  position: relative;
  cursor: pointer;
  width: 50%;
}
.bene_pro .cf .fll img {
  vertical-align: bottom;
  width: 100%;
}
.bene_pro .cf .fll .over_soon {
  position: absolute;
  top: 0;
  left: 0;
}

.shop {
  background: #4ac0ee;
  width: 100%;
  margin-bottom: 105px;
}
.shop h3 {
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}
.shop h3 img {
  vertical-align: bottom;
  width: 100%;
}

.event {
  margin-bottom: 110px;
}
.event h3 {
  width: 283px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.event ul {
  width: 999px;
  margin: 0 auto;
}
.event ul li {
  float: left;
  margin-left: 45px;
}
.event ul li:first-child {
  margin-left: 0;
}

.news h3 {
  width: 283px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.news .info {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 115px;
  background: #eeeeee;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
}
.news .info dl {
  padding: 20px 0 18px 0;
}
.news .info dl dt {
  float: left;
  margin-left: 40px;
}
.news .info dl dd {
  padding-left: 130px;
}
.news .info .news_btn {
  position: absolute;
  top: 20px;
  right: 0;
}
.news .info .news_btn .btn_01 {
  float: left;
  vertical-align: middle;
  margin-right: 12px;
}
.news .info .news_btn .btn_02 {
  float: left;
  vertical-align: middle;
  margin-right: 80px;
}
.news .info .news_btn .btn_03 {
  float: left;
  vertical-align: middle;
  margin-right: 30px;
}

.para {
  text-align: center;
  background: #a3b8d3 url("../images/top/ttl_par.jpg") no-repeat center top;
  width: 100%;
  height: 200px;
  margin-bottom: 120px;
}

.contact {
  margin-bottom: 90px;
}
.contact h3 {
  width: 306px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.contact .btn_contact {
  width: 506px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contact .btn_contact img {
  vertical-align: bottom;
}
.contact p {
  text-align: center;
}
