/*--------------------
	Mixin
--------------------*/
/*--------------------
	concept
--------------------*/
#header {
  background: url("../images/concept/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

#contents {
  padding-top: 70px;
}
#contents .catch {
  margin: 10px 0 48px 0;
}
#contents .page_nav {
  margin-bottom: 90px;
}
#contents .page_nav li {
  margin-bottom: 20px;
}
#contents .page_nav li img {
  vertical-align: bottom;
}
#contents .conb {
  margin-bottom: 90px;
  padding-top: 20px;
  margin-top: -20px;
}
#contents .point {
  margin-bottom: 120px;
}
