/*--------------------
	Mixin
--------------------*/
/*--------------------
	intro
--------------------*/
#header {
  background: url("../images/intro/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

#intro {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}
#intro ul.fll li {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
#intro ul.fll li img {
  vertical-align: bottom;
}

#toyama {
  margin-top: -20px;
  padding-top: 20px;
  margin-bottom: 45px;
}

#intro .flr ul {
  padding-bottom: 200px;
}