/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/about/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

img {vertical-align: bottom;}

#about {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#about .catch {
  font-size: 14px;
  line-height: 2.5em;
  padding-bottom: 40px;
}

#about .tel {
  background: #eeeeee;
  color: #666;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 3px;
  padding: 30px 0;
  margin-bottom: 40px;
}
#about .tel p {
  margin-left: 40px;
}
#about .tel span {
  font-size: 16px;
}
#about .tel span.time {
  line-height: 2em;
}

.plttl {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 50px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 50px;
  width: 470px;
}
.casettl {
  background: url("../images/use/bg_voice_ttl.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl2 {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl3 {
  background: url("../images/use/bg_voice_ttl2.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl img,
.casettl2 img,
.casettl3 img {
  margin-right: 20px;
  vertical-align: bottom;
}

#about .basic {
  float: left;
  width: 470px;
}
#about .basic table {
  width: 470px;
  font-size: 14px;
  line-height: 1.4em;
}
#about .basic table tr {
  background: #f9fafa;
}
#about .basic table tr.odd {
  background: #eeeeee;
}
#about .basic table th {
  font-weight: normal;
  text-align: left;
  width: 115px;
  padding: 20px 0 18px 20px;
  vertical-align: middle;
}
#about .basic table td {
  padding: 20px 0 18px 20px;
  vertical-align: middle;
}
#about .basic table td a img {
  margin-left: 80px;
  vertical-align: middle;
}


#about .enkaku {
  float: right;
  width: 470px;
}
#about .enkaku dl {
  line-height: 1.3em;
}
#about .enkaku dt {
  float: left;
  text-align: right;
  width: 92px;
  padding: 10px 0;
}
#about .enkaku dt.col2 {
  padding-top: 18px;
}
#about .enkaku dd {
  border-bottom: 1px dashed #6e6e6e;
  padding: 10px 0 10px 130px;
}


#google_map {
  margin: 60px 0 140px 0;
}