/*--------------------
	area
--------------------*/
#header {
  background: url("../images/area/ttl_main.jpg") no-repeat left top;
  background-size: cover;
  margin-bottom: 58px;
}

#area {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  min-height: 857px;
  margin-bottom: 60px;
}

#area h3 {
  font-size: 20px;
  color: #666;
  font-weight: normal;
  padding-top: 58px;
  position: relative;
  z-index: 100;
}
#area h4 {
  position: absolute;
  top: 255px;
  left: 110px;
  z-index: 100;
}

#area .map_contact {
  position: absolute;
  top: 590px;
  left: 670px;
  z-index: 100;
}
#area .map_contact p {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 14px;
}
#area .map_contact a img:hover {
  opacity: 0.7;
}

#area .map {
  position: absolute;
  top: 0;
  left: 120px;
  z-index: 50;
}
/*#area .map .on_ishikawa {
  display: none;
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 0;
}
#area .map .on_toyama {
  display: none;
  position: absolute;
  top: 217px;
  left: 415px;
  z-index: 0;
}
#area .map .on_fukui {
  display: none;
  position: absolute;
  top: 485px;
  left: 1px;
  z-index: 0;
}*/
