/*--------------------
	Mixin
--------------------*/
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------
	common
--------------------*/
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}
html, body {
  height: 100%;
}

body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.5em;
  color: #484848;
}

button {
  cursor: pointer;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.fll {
  float: left;
}

.flr {
  float: right;
}

.tbl {
  display: table;
}

.cell {
  display: table-cell;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.over:hover {
  opacity: 0.7;
}

.w_595 {
  width: 595px;
}
.w_650 {
  width: 650px;
}

/*--------------------
	header
--------------------*/
#header {
  width: 100%;
  position: relative;
  height: 400px;
}
#header .head_abs {
  width: 100%;
  background: url("../images/common/bg_menu.png") left top;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
#header .head_abs h1 {
  width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
}
#header .menu {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#header .menu ul {
  width: 1000px;
  margin: 0 auto;
}
#header .menu ul li {
  float: left;
  font-size: 14px;
  line-height: 1em;
  width: 130px;
}
#header .menu ul li#cs1 {
  width: 170px;
}
#header .menu ul li#cs2 {
  width: 190px;
}
#header .menu ul li#cs3 {
  width: 160px;
}
#header .menu ul li.so {
  width: 200px;
}
#header .menu ul li.so a {
  padding: 10px 0;
}
#header .menu ul li.las {
  width: 100px;
  float: right;
}
#header .menu ul li.las a {
  padding-right: 0;
}
#header .menu ul li:first-child {
  width: auto;
}
#header .menu ul li:first-child a {
  padding-left: 0;
}
#header .menu ul li a {
  text-align: center;
  display: block;
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
#header .menu ul li a:hover {
  color: #faed00;
}
#header .h2_ttl {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
#header .h2_ttl h2 {
  position: absolute;
  bottom: 0;
  left: -15px;
}
#header .h2_ttl h2 img {
  vertical-align: bottom;
}

/*--------------------
	footer
--------------------*/
#footer {
  padding-top: 70px;
  background: #eeeeee;
  color: #666666;
}
#footer .inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px;
}
#footer .inner #pagetop {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 100px;
  cursor: pointer;
  z-index: 9999;
}
#footer .inner h2 {
  margin-bottom: 20px;
}
#footer .inner h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 5px;
}
#footer .inner h3 span {
  font-size: 14px;
}
#footer .inner .adr {
  font-size: 14px;
  margin-bottom: 35px;
}
#footer .sitemap {
  margin-bottom: 15px;
}
#footer .sitemap li {
  float: left;
  border-right: 1px solid #666;
  padding: 0 25px;
  line-height: 1em;
}
#footer .sitemap li:first-child {
  border-left: 1px solid #666;
}
#footer .sitemap li a {
  color: #666;
  text-decoration: none;
}
#footer .sitemap2 {
  margin-bottom: 70px;
}
#footer .sitemap2 li {
  float: left;
  border-right: 1px solid #666;
  padding: 0 33px;
  line-height: 1em;
}
#footer .sitemap2 li:first-child {
  border-left: 1px solid #666;
}
#footer .sitemap2 li a {
  color: #666;
  text-decoration: none;
}
#footer .foo_contact {
  /*float: right;*/
  position: absolute;
  top: 60px;
  right: 0;
  margin-top: 0!important;
}
#footer .foo_contact a {
  margin-left: 15px;
  float: left;
}
#footer .copy {
  font-size: 10px;
  color: #fff;
  text-align: center;
  background: #666666;
  line-height: 1em;
  padding: 20px 0 18px 0;
  letter-spacing: 2px;
}

/*--------------------
	content
--------------------*/
#contents {
  width: 1000px;
  margin: 0 auto;
}

.btn_fixed {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 99999;
}
.btn_fixed a {
  display: block;
  margin-bottom: 10px;
}
.btn_fixed a img {
  vertical-align: bottom;
  position: relative;
  top: 150px;
  right: -5px;
}
.btn_fixed a img:first-child {
  top: 0;
}


/*あとで消す*/
#header #menu ul {
  position: relative;
}
#header #menu ul li.cs4 {
  position: absolute;
  top: 0;
  left: 825px;
  width: 125px;
}
.head_abs .menu ul {
  position: relative;
}
.head_abs .menu ul #cs4 {
  position: absolute;
  top: 0;
  left: 880px;
  width: 150px!important;
}