/*--------------------
	Mixin
--------------------*/
/*--------------------
	concept
--------------------*/
#header {
  background: url("../images/concept/ttl_main.jpg") no-repeat left top;
  background-size: cover;
}

#contents {
  padding-top: 70px;
}
#contents .catch {
  font-size: 30px;
  text-align: left;
  line-height: 1.4em;
  color: #666666;
  letter-spacing: 4px;
  font-weight: normal;
  margin-bottom: 25px;
}
#contents .txt_catch {
  font-size: 15px;
  line-height: 2.4em;
}
#contents .page_nav {
  margin-bottom: 90px;
  position: relative;
  z-index: 100;
}
#contents .page_nav li {
  margin-bottom: 20px;
}
#contents .page_nav li img {
  vertical-align: bottom;
}
#contents .conb {
  margin-bottom: 90px;
  padding-top: 20px;
  margin-top: -20px;
}
#contents .point {
  margin-bottom: 120px;
}
#contents .point h3 {
  color: #1588c6;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 10px;
}
#contents .point .point_list {
  background: url("../images/concept/bg_point.png") no-repeat left top;
  width: 1000px;
  height: 320px;
  padding: 27px 26px 1px;
}
#contents .point .point_list li {
  width: 447px;
}
#contents .point .point_list li.mg_b45 {
  margin-bottom: 45px;
}
#contents .point .point_list li h4 img {
  vertical-align: bottom;
}
#contents .point .point_list li p {
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 10px;
}
#contents #concept_list li {
  color: #666;
  width: 463px;
  margin-bottom: 85px;
}
#contents #concept_list li.c_1 {
  width: 1000px;
}
#contents #concept_list li.c_1 .fll {
  width: 642px;
}
#contents #concept_list li.c_1 .fll p {
  letter-spacing: 2px;
}
#contents #concept_list li h3 {
  margin-bottom: 25px;
}
#contents #concept_list li h3 img {
  vertical-align: bottom;
}
#contents #concept_list li h4 {
  font-size: 17px;
  line-height: 1.4em;
  font-weight: normal;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#contents #concept_list li h4 span {
  display: block;
  font-size: 14px;
  line-height: 1em;
  margin-top: 5px;
  letter-spacing: 2px;
}
#contents #concept_list li p {
  font-size: 14px;
  line-height: 1.6em;
  letter-spacing: 1px;
}
