/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/event/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

img {vertical-align: bottom;}

#event {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}
#event .event_list {
  width: 999px;
  margin: 0 auto;
}
#event .event_list li {
  float: left;
  margin-left: 45px;
  margin-bottom: 45px;
  width: 216px;
  min-height: 306px;
  position: relative;
}
#event .event_list li:hover {
  opacity: 0.8;
}
#event .event_list li a {
  display: block;
  color: #666;
  text-decoration: none;
}
#event .event_list li a p.thumb_img {
	width:215px;
	height:190px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#event .event_list li a h4 {
  font-size: 14px;
  border-left: 3px solid #666;
  line-height: 1em;
  padding: 5px 0 5px 10px;
  margin: 15px 0 10px 0;
}
#event .event_list li a p {
  font-size: 13px;
  line-height: 1.5em;
}
#event .event_list li:nth-child(4n+1) {
  margin-left: 0;
}
#event .event_list li .btnmore {
  position: absolute;
  right: 0;
  bottom: 0;
}

#event .archive {
  margin-bottom: 35px;
}

#event .pager {
  width: 600px;
	text-align:center;
  margin: 50px auto 120px;
}
#event .pager p {
	display:inline-block;
	*display: inline;
	*zoom: 1;
  width: 100px;
  background: #fff;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
  line-height: 1em;
  padding: 15px 0;
  text-align: center;
  margin-right: 30px;
}
#event .pager a {
	color:#fff;
	text-decoration:none;
}
#event .pager a:hover { text-decoration:underline;}
#event .pager ul {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
#event .pager ul li {
  width: 50px;
  text-align: center;
  padding: 15px 0;
  line-height: 1em;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
  background: #666;
  color: #fff;
  margin-left: 10px;
}
#event .pager ul li.loc {
  background: #fff;
  color: #666;
}

.plttl {
  background: url("../images/event/bg_ttl.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 50px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 40px;
  width: 1000px;
}

#event.detail h4 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

#event.detail .fll {
  width: 480px;
}
#event.detail .slide {
  width: 480px;
  height: 378px;
}
#event.detail .slide img {  max-width: 480px;}
#event.detail .slide .hide {
  display: none;
}
#event.detail .thm {
  margin-top: 10px;
}
#event.detail .thm li {
  float: left;
  margin-left: 9px;
  cursor: pointer;
}
#event.detail .thm img {
	max-width:113px;
}

#event.detail .thm li:first-child {
  margin-left: 0;
}
#event.detail .flr {
  width: 475px;
}
#event.detail .flr .res dt {
  background: #faed00;
  float: left;
  width: 105px;
  padding: 18px 0;
  font-size: 16px;
  line-height: 1em;
  text-align: center;
  letter-spacing: 2px;
  border-left: 1px solid #bcbcbc;
}
#event.detail .flr .res dd {
  font-size: 14px;
  line-height: 1em;
  padding: 19px 0 19px 200px;
  border-bottom: 2px solid #bcbcbc;
}

#event.detail .flr .desc {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.6em;
}
#event.detail .flr .desc dt {
  float: left;
  margin-bottom: 10px;
}
#event.detail .flr .desc dd {
  font-size: 14px;
  padding-left: 110px;
  margin-bottom: 10px;
}
#event.detail .flr .desc dd span {
  font-size: 26px;
  margin-right: 5px;
}
#event.detail .flr .desc dt.dt_moshikomi {
	width:100%;
  float:none;
	margin-top:20px;
}
#event.detail .flr .desc dd.dd_moshikomi {
	width:100%;
	float:none;
  padding-left: 0;
}
#event.detail .flr .desc dd.dd_chirashi {
	width:100%;
	font-size:16px;
	letter-spacing:0.03em;
	text-align:right;
	float:none;
  padding-left: 0;
	margin:60px 0 20px;
}
#event.detail .flr .desc dd.dd_chirashi a {
  color: #484848;
	text-decoration:none;
  background: url("../images/intro/menu_mark.jpg") no-repeat 3px 3px;
	border-bottom:1px solid #999;
	padding-bottom:3px;
	padding-left:26px;
}
#event.detail .flr .desc dd.dd_chirashi a:hover { border-bottom:none;}

#event.detail .ttl_map {
  margin-top: 45px;
}
#event.detail #google_map {
  margin-bottom: 100px;
}


#event.detail .ttl_form {
  background: url("../images/event/bg_ttl_form.jpg") repeat-x left center;
}
#event.detail h5 {
  font-size: 24px;
  line-height: 1em;
  font-weight: normal;
  background: #fff;
  width: 250px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}
#event.detail .req {
  color: #e84737;
  font-size: 12px;
  margin-bottom: 10px;
}
#event.detail table {
  border-collapse: collapse;
  width: 1000px;
}
#event.detail tr {
  border: 1px dashed #6a6a6a;
  border-left: none;
  border-right: none;
}
#event.detail th {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  letter-spacing: 2px;
  padding-left: 10px;
  width: 235px;
}
#event.detail th span {
  color: #e84737;
}
#event.detail td {
  font-size: 14px;
  line-height: 1.6em;
  font-weight: normal;
  text-align: left;
  padding: 20px 0;
}
#event.detail td input[type="text"] {
  width: 300px;
  height: 30px;
}
#event.detail td textarea {
  width: 735px;
  height: 220px;
}
#event.detail .adr td input[type="text"] {
  width: 550px;
}
#event.detail td.check_kikkake {
  line-height: 3em;
}
#event.detail td.check_kikkake span {
  margin-right:20px;
}

#event.detail td .que01 {
  float: left;
}
#event.detail td .que02 {
  float: left;
  margin-left: 70px;
  line-height: 3em;
}
#event.detail td .que03 {
  float: left;
  margin-left: 70px;
  line-height: 3em;
}

#event.detail .button_submit input[type="submit"] {
  background: none;
  display: block;
  width: 150px;
  padding: 0;
  margin: 30px auto;
  border: none;
  font-size: 14px;
  line-height: 1em;
  background: #faed00;
  color: #666;
  padding: 15px 0;
	cursor:pointer;
}
#event.detail .button_submit input[name="submitBack"] {
  background: #bbb;
	margin-bottom:15px;
}


#event.detail .nomail h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 25px;
}
#event.detail .nomail p {
  font-size: 14px;
  line-height: 2em;
}
#event.detail .nomail p.note {
  font-size: 12px;
  margin: 25px 0 70px 0;
}