/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/inq/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

img {vertical-align: bottom;}

#inq {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#inq .catch {
  font-size: 14px;
  line-height: 2.5em;
  padding-bottom: 40px;
}

#inq .tel {
  background: #eeeeee;
  color: #666;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 3px;
  padding: 30px 0;
  margin-bottom: 40px;
}
#inq .tel p {
  margin-left: 40px;
}
#inq .tel span {
  font-size: 16px;
}
#inq .tel span.time {
  line-height: 2em;
}

#inq .form_des {
  font-size: 14px;
  line-height: 2em;
  margin-bottom: 20px;
}
#inq .form_des span {
  color: #ee7468;
	font-size:12px;
}
/*#inq form {
  color: #666;
}
#inq form dt {
  float: left;
  line-height: 1.8em;
  font-size: 14px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
#inq form dt .req {
  color: #ee7468;
  font-size: 10px;
  padding-left: 10px;
}
#inq form dd {
  line-height: 1.8em;
  padding-left: 240px;
  font-size: 14px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background: url("../images/inq/border_bottom.jpg") repeat-x left bottom;
}*/
#inq form {
  color: #666;
  font-size: 14px;
  line-height: 1em;
}
#inq form .req {
  color: #ee7468;
  font-size: 10px;
  padding-left: 10px;
}
#inq form table {
  width: 100%;
}
#inq form tr {
  background: url("../images/inq/border_bottom.jpg") repeat-x left bottom;
}
#inq form th {
  font-weight: normal;
  text-align: left;
  letter-spacing: 2px;
  width: 260px;
  padding: 20px 0;
  vertical-align: top;
}
#inq form td {
  padding: 20px 0;
  vertical-align: middle;
}
#inq form .gender_cue th span {
  display: block;
  margin-top: 30px;
  line-height: 1.5em;
}
#inq form .gender_cue td div {
  display: block;
	line-height:2.5em;
  margin-top: 30px;
}
#inq form td input[type="checkbox"] {
  font-size: 10px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
}
#inq form td input[type="radio"] {
  font-size: 10px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
}
#inq form .gender_cue td input[type="checkbox"] {
  margin-left: 15px;
  margin-right: 10px;
}
#inq form .gender_cue td input.no_mg {
  margin-left: 0;
}
#inq form td input[type="checkbox"]:first-child {
  margin-left: 0;
}
#inq form td input[type="text"] {
  font-size: 14px;
  width: 325px;
}
#inq form td label {
	margin-right:15px;
}
#inq form td.w_lon input[type="text"] {
  width: 430px;
}
#inq form td.w_sho input[type="text"] {
  width: 60px;
}
#inq form tr.post_num td input:first-child {
  margin-left: 3px;
}
#inq form tr.comment th {
  line-height: 1.5em;
}
#inq form tr.comment textarea {
  resize: none;
  width: 100%;
  height: 180px;
}
#inq form .button_submit input[type="submit"] {
  background: none;
  display: block;
  width: 150px;
  padding: 0;
  margin: 30px auto;
  border: none;
  font-size: 14px;
  line-height: 1em;
  background: #faed00;
  color: #666;
  padding: 15px 0;
	cursor:pointer;
}
#inq form .button_submit input[name="submitBack"] {
  background: #bbb;
	margin-bottom:15px;
}

#inq .not_reach {
  margin-bottom: 65px;
  color: #666;
  line-height: 1em;
}
#inq .not_reach h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 25px;
}
#inq .not_reach p {
  font-size: 14px;
  line-height: 1.8em;
}
#inq .not_reach p.note {
  margin-top: 40px;
  line-height: 1em;
}