/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/intro/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

#intro {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#intro ul.fll li {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

#intro ul.fll li img {
  vertical-align: bottom;
}

#intro .flr ul {
  padding-bottom: 200px;
}

#intro .int_list li {
  border-bottom: 1px dotted #929292;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#intro .thumb_img {
	width:200px;
	height:165px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding:0;
	float:left;
}
#intro .int_list li:first-child {
  border-top: 1px dotted #929292;
  padding-top: 30px;
}
#intro .int_list li div.fll {
  width: 450px;
}
#intro .int_list li div.fll h4 {
  border-bottom: 1px solid #a9a9a9;
  font-size: 20px;
  line-height: 1em;
  padding: 8px 0 10px 25px;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 20px;
}
#intro .int_list li div.fll p {
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 2px;
  margin-bottom: 23px;
}
#intro .int_list li div.fll a {
  padding-left: 25px;
}

.pagelink {
  width: 300px;
}
.pagelink a {
  display: block;
  color: #676767;
  text-decoration: none;
  font-size: 18px;
  line-height: 1em;
  padding: 20px 0;
  letter-spacing: 3px;
}
.pagelink a img {
  vertical-align: baseline !important;
  margin: 0 30px 0 24px;
}
.pagelink a:hover {
  opacity: 0.75;
}

.plttl {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 50px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 50px;
}
