/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/news/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

img {vertical-align: bottom;}

#news {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#news .news_list {
  width: 1000px;
}

#news .news_list li {
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
#news .news_list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

#news .news_list li .thumb_img {
	width:400px;
	height:220px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#news .news_list li .flr {
  width: 550px;
}

#news .news_list .newstitle {
  background: url("../images/news/ttl_border.jpg") no-repeat left top;
  padding: 0 0 20px 30px;
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 25px;
  position: relative;
}
#news .news_list .newstitle .deta {
  float: left;
  font-size: 24px;
}
#news .newstitle .deta span {
  display: block;
  font-size: 10px;
}

#news .newstitle h3 {
  float: left;
  font-size: 18px;
  line-height: 1.6em;
  padding-left: 35px;
  font-weight: normal;
  width: 380px;
}
#news .newstitle h3 a { color:#484848;}
#news .newstitle h3 a:hover { text-decoration:none;}

#news .news_list .deta_btn {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 18px;
  right: 0;
}


#news .pager {
  width: 600px;
	text-align:center;
  margin: 50px auto 120px;
}
#news .pager p {
	display:inline-block;
	*display: inline;
	*zoom: 1;
  width: 100px;
  background: #fff;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
  line-height: 1em;
  padding: 15px 0;
  text-align: center;
  margin-right: 30px;
}
#news .pager a {
	color:#fff;
	text-decoration:none;
}
#news .pager a:hover { text-decoration:underline;}
#news .pager ul {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
#news .pager ul li {
  width: 50px;
  text-align: center;
  padding: 15px 0;
  line-height: 1em;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
  background: #666;
  color: #fff;
  margin-left: 10px;
}
#news .pager ul li.loc {
  background: #fff;
  color: #666;
}


/*==========
news_deta
==========*/

#news_deta {
  width: 1000px;
  margin: 0 auto;
  padding-top: 70px;
}

#news_deta .newstitle {
  background: url("../images/news/border_titile_deta.jpg") no-repeat left top;
  padding: 0 0 25px 30px;
  border-bottom: 1px solid #a9a9a9;
  margin-bottom: 25px;
  position: relative;
}
#news_deta .newstitle .deta {
  float: left;
  font-size: 32px;
  line-height: 1em;
}
#news_deta .newstitle .deta span {
  display: block;
  font-size: 16px;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 12px;
}

#news_deta .newstitle h3 {
  float: left;
  font-size: 22px;
  line-height: 1.6em;
  padding: 5px 0 0 35px;
  font-weight: normal;
  width: 820px;
}

#news_deta .deta_txt {
  float: left;
  font-size: 14px;
  line-height: 1.6em;
  width: 560px;
}
#news_deta .deta_img {
  float: right;
}

#news_deta .back_list {
  width: 140px;
  margin: 50px auto 20px;
  line-height: 1em;
  font-size: 18px;
  background: #666666;
}
#news_deta .back_list a {
  display: block;
  margin: 50px auto 20px;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#news_deta .pager {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 120px;
}
#news_deta .pager li {
  float: left;
  font-size: 14px;
  line-height: 1em;
  padding: 8px 0;
	min-height:1em;
	width:305px;
}
#news_deta .pager li a {
  text-decoration: none;
  color: #000;
}
#news_deta .pager li a:hover { opacity:0.7;}
#news_deta .pager li.prev {
	text-align:right;
}
#news_deta .pager li.prev span {
  padding-right: 30px;
}
#news_deta .pager li.next {
	float:right;
  border-left: 2px solid #666;
  padding-left: 25px;
  margin-left: 25px;
}
#news_deta .pager li.next span {
  padding-left: 30px;
}