/*--------------------
	Mixin
--------------------*/
#header {
  height: 110px;
  margin-bottom: 60px;
}

#privacy {
  width: 760px;
  margin: 0 auto;
}
#privacy h2 {
  margin-bottom: 30px;
}
#privacy .catch {
  font-size: 15px;
  line-height: 1.6em;
  margin-bottom: 40px;
}

#privacy h3 {
  font-size: 20px;
  line-height: 1em;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
}
#privacy p {
  font-size: 14px;
  line-height: 1.6em;
}
#privacy ul {
  font-size: 14px;
  line-height: 1.6em;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 20px;
}
#privacy ul.sub {
  text-indent: -3em;
  padding-left: 3em;
}
#privacy ul.sub2 li {
  margin-bottom: 25px;
}
#privacy .deta {
  line-height: 1.6em;
  margin: 50px 0 60px 0;
}