/*--------------------
	Mixin
--------------------*/
.content_right {
  width: 650px;
}
#header {
  background: url("../images/product/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

#product {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#product ul.fll li {
  border-bottom: 1px solid #666;
}
#product ul.fll li:first-child {
  border-top: 1px solid #666;
}

#product ul.fll li img {
  vertical-align: bottom;
}

#product .flr ul {
  padding-bottom: 200px;
}

#product .int_list li {
  border-bottom: 1px dotted #929292;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#product .int_list li:first-child {
  border-top: 1px dotted #929292;
  padding-top: 30px;
}
#product .int_list li div.fll {
  width: 450px;
}
#product .int_list li div.fll h4 {
  border-bottom: 1px solid #a9a9a9;
  font-size: 20px;
  line-height: 1em;
  padding: 8px 0 10px 25px;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 20px;
}
#product .int_list li div.fll p {
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 2px;
  margin-bottom: 23px;
}
#product .int_list li div.fll a {
  padding-left: 25px;
}

.pagelink {
  width: 300px;
}
.pagelink a {
  display: block;
  color: #676767;
  text-decoration: none;
  font-size: 18px;
  line-height: 1em;
  padding: 20px 0;
}
.pagelink a img {
  vertical-align: baseline !important;
  margin: 0 20px 0 20px;
}
.pagelink a:hover {
  opacity: 0.75;
}

.plttl {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 50px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 50px;
  width: 650px;
}
.casettl {
  background: url("../images/use/bg_voice_ttl.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl2 {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl3 {
  background: url("../images/use/bg_voice_ttl2.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl img,
.casettl2 img,
.casettl3 img {
  margin-right: 20px;
  vertical-align: bottom;
}


/**/
#product p {
  font-size: 14px;
  line-height: 1.6em;
}
#product.feat p.fea {
  line-height: 2.2em;
  margin: 20px 0 40px 0;
  letter-spacing: 1px;
}
#product.feat .featarea {
  width: 650px;
  margin-bottom: 35px;
}
#product.feat h4 {
  color: #3ab6e1;
  border-bottom: 1px solid #83d1ec;
  font-size: 18px;
  line-height: 1em;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
#product.feat h4 span {
  font-size: 14px;
  font-weight: normal;
}
#product.feat .featarea .fll {
  width: 245px;
  letter-spacing: 1px;
}
#product.feat .featarea .flr img {
  margin-left: 5px;
  float: left;
}
#product.feat .ttl_pln {
  margin: 130px 0 25px 0;
}
#product.feat .pln_area {
  width: 650px;
}
#product.feat .pln_area h4 {
  color: #e95243;
  border-bottom: 1px solid #f2978e;
}
#product.feat .pln_area p {
  letter-spacing: 1px;
}
#product.feat .pln_area p span {
  font-size: 12px;
}
#product.feat .pln_area .kitchen {
  width: 240px;
}
#product.feat .pln_area .wash {
  width: 220px;
  float: left;
  position: relative;
}
#product.feat .pln_area .wash .feature_img_10 {
  position: absolute;
  top: 0;
  right: -165px;
}
#product.feat .pln_area .mg_t35 {
  margin-top: 35px;
}
#product.feat .pln_area .mg_t100 {
  margin-top: 130px;
}
#product.feat .pln_area .w230 {
  width: 230px;
}
#product.feat .pln_area .w300 {
  width: 300px;
}
#product.feat .pln_area .w300 img {
  margin-top: 10px;
}
#product.feat .pln_area .kome {
  text-align: right;
  font-size: 10px;
  margin: 20px 0 90px 0;
}


/* 装備 */
#product.equ .pagemenu {
  margin-bottom: 40px;
  padding-bottom: 0;
}
#product.equ .pagemenu li {
  float: left;
  margin-left: 10px;
}
#product.equ .pagemenu li:first-child {
  margin-left: 0;
}
#product.equ .kitchen_txt {
  width: 250px;
  line-height: 2em;
  margin-top: 25px;
}
#product.equ .utility_txt {
  line-height: 2em;
  margin: 25px 0;
}
#product.equ .equ_title {
  color: #666666;
  font-size: 16px;
  margin-top: 12px;
  padding-bottom: 5px;
}
#product.equ .equ_title img {
  margin-right: 5px;
}
#product.equ .caption {
  font-size: 12px;
  line-height: 1.3em;
  margin-top: 2px;
  color: #666;
  padding-top: 5px;
}
#product.equ .caption span {
  display: block;
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
#product.equ .ltsp_1 {
  letter-spacing: -1px;
}
#product.equ .mg-t10 {
  margin-top: 10px;
}
#product.equ .mg-t25 {
  margin-top: 25px;
}
#product.equ .mg_t40 {
  margin-top: 40px;
}
#product.equ .w200 {
  width: 200px;
  float: left;
  margin-left: 25px;
}
#product.equ .w200:first-child {
  margin-left: 0;
}
#product.equ .w220 {
  width: 220px;
}
#product.equ .w240 {
  width: 240px;
}
#product.equ .w312 {
  width: 312px;
}
#product.equ .w320 {
  width: 320px;
}
#product.equ .w336 {
  width: 336px;
}
#product.equ .w385 {
  width: 385px;
}
#product.equ .pd_b130 {
  padding-bottom: 130px;
}
#product.equ .border_bottom {
  border-bottom: 1px solid #a9a9a9;
  padding-bottom: 60px;
  margin-bottom: 50px;
}
#product.equ .led {
  float: left;
  margin-left: 33px;
  width: 200px;
}
#product.equ .kaden {
  float: left;
  margin-left: 26px;
  width: 200px;
}
#product.equ .shunou {
  float: left;
  margin-left: 33px;
  width: 142px;
}
#product.equ .youto {
  float: left;
  margin-left: 26px;
  width: 256px;
}
#product.equ .led .equ_title,
#product.equ .kaden .equ_title,
#product.equ .shunou .equ_title,
#product.equ .youto .equ_title {
  margin-top: 0;
}

/* ECO */
#product.eco .main_img {
  margin-bottom: 20px;
}
#product.eco p {
  font-size: 14px;
  line-height: 2.4em;
}
#product.eco p.eco {
  color: #6eb92b;
  margin-top: 30px;
}
#product.eco p.eco_s {
  font-size: 12px;
  line-height: 1.7em;
  margin-top: 10px;
}
#product.eco p.eco span {
  font-size: 24px;
  line-height: 1.2em;
}
#product.eco p.eco img {
  vertical-align: text-bottom;
  margin-right: 15px;
}
#product.eco .rank {
  padding-bottom: 0;
}
#product.eco .rank li {
  float: left;
  margin-bottom: 10px;
}
#product.eco .rank .rank_02 {
  margin-left: 14px;
}
#product.eco .rank .rank_03 {
  margin-left: 7px;
}
#product.eco .rank .rank_04 {
  margin-left: 3px;
}
#product.eco h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}
#product.eco h4 span {
  color: #6eb92b;
}
#product.eco h4 span span {
  font-size: 32px;
  font-weight: bold;
}
#product.eco p.note {
  font-size: 12px;
  line-height: 1.4em;
  text-indent: -1em;
  padding-left: 1em;
  margin-bottom: 40px;
}
#product.eco p.eco.catch {
  font-size: 18px;
  line-height: 1.7em;
  margin-bottom: 25px;
}
#product.eco .leaf_ttl {
  background: url("../images/product/img_leaf.jpg") no-repeat left top;
  text-indent: 60px;
  font-size: 24px;
  line-height: 1.2em;
  color: #6eb92b;
}
#product.eco .ecocute {
  position: relative;
}
#product.eco .ecocute p {
  line-height: 1.9em;
}
#product.eco p.des {
  font-size: 12px;
  line-height: 1.7em;
  margin-top: 30px;
}
#product.eco .ecocute .eco_img_01 {
  position: absolute;
  top: 37px;
  left: 216px;
  z-index: 10;
}
#product.eco .ecocute .eco_img_02 {
  position: absolute;
  top: 87px;
  left: 440px;
  z-index: 5;
}
#product.eco .low_e {
  width: 275px;
  float: left;
  margin-top: 70px;
}
#product.eco .wool {
  width: 300px;
  float: right;
  margin-top: 70px;
}
#product.eco .low_e p,
#product.eco .wool p {
  margin-top: 0;
  margin-bottom: 15px;
}
#product.eco p.cat {
  font-size: 14px;
  line-height: 1.6em;
}
#product.eco .jupii {
  float: left;
  width: 266px;
  margin-top: 60px;
}
#product.eco .silver {
  float: right;
  width: 300px;
  margin-top: 60px;
}
#product.eco .jupii p,
#product.eco .silver p {
  margin-top: 0;
}
#product.eco .boh {
  margin-top: 70px;
  margin-bottom: 80px;
}
#product.eco .boh .des {
  margin-top: 10px;
}
#product.eco .boh .fll {
  width: 470px;
}

/* LINEUP */
#product.lineup .lineup_link {
  padding-bottom: 0;
  margin-bottom: 55px;
}
#product.lineup .lineup_link li {
  float: left;
  margin-left: 14px;
}
#product.lineup .lineup_link li:first-child {
  margin-left: 0;
}
#product.lineup .each_title {
  border: 1px solid #a6a5a6;
  margin-bottom: 40px;
}
#product.lineup .each_title p {
  float: left;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1em;
  text-align: center;
  border-right: 1px solid #a6a5a6;
  padding: 20px 17px 15px 17px;
}
#product.lineup .each_title p span {
  font-size: 12px;
}
#product.lineup .each_title .sub {
  float: left;
}
#product.lineup .each_title .sub h4 {
  font-size: 38px;
  float: left;
  line-height: 1em;
  font-weight: normal;
  padding: 20px 0 0 25px;
  letter-spacing: 1px;
}
#product.lineup .each_title .sub ul {
  padding-bottom: 0;
  float: left;
  margin-left: 25px;
  margin-top: 38px;
}
#product.lineup .each_title .sub ul li {
  float: left;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 25px;
}
#product.lineup .each_title .sub ul li a {
  color: #666;
  text-decoration: none;
}
#product.lineup .each_title .sub ul li a:hover {
  /*text-decoration: underline;*/
  border-bottom: 1px solid #666;
}
#product.lineup .each_title .sub ul li span {
  font-weight: bold;
  margin-right: 5px;
}
#product.lineup .each_title.desi {
  margin-bottom: 20px;
}
#product.lineup .each_title.opt {
  margin-bottom: 15px;
}
#product.lineup .each_title.desi p span {
  letter-spacing: 7px;
}
#product.lineup .each_title.opt p span {
  letter-spacing: 10px;
}
#product.lineup .each_title.desi ul {
  margin-top: 10px;
}
#product.lineup .each_title.desi ul li {
  float: none;
}

#product.lineup .cusmo_roof {
  margin-bottom: 55px;
}
#product.lineup .cusmo_roof h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
#product.lineup .cusmo_roof h4 span {
  font-size: 14px;
  margin-left: 10px;
}
#product.lineup .cusmo_roof p {
  font-size: 14px;
  line-height: 2.2em;
}

#product.lineup .skt_deta h4 {
  border-left: 12px solid #f08336;
  border-top: 1px solid #afaeaf;
  border-bottom: 1px solid #afaeaf;
  font-weight: normal;
  line-height: 1em;
  padding: 10px 0 5px 10px;
}
#product.lineup .skt_deta table {
  border-top: 15px solid #fff;
}
#product.lineup .skt_deta table th {
  background: #f08336;
  color: #fff;
  font-weight: normal;
  width: 75px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 2px;
  border-right: 10px solid #fff;
  border-bottom: 8px solid #fff;
}
#product.lineup .skt_deta table td {
  font-size: 12px;
  line-height: 1.2em;
  vertical-align: middle;
}
#product.lineup .skt_deta table td span {
  font-size: 24px;
  line-height: 1em;
  margin-right: 2px;
}
#product.lineup .skt_deta table .img_skt td {
  border-top: 30px solid #fff;
}
#product.lineup .skt_deta.roof20 {
  width: 310px;
  float: left;
}
#product.lineup .skt_deta.roof25 {
  width: 310px;
  float: right;
}
#product.lineup .skt_deta.roof28 {
  width: 310px;
  float: left;
}
#product.lineup .img_roof28 {
  float: left;
  margin: 100px 0 0 35px;
}

#product.lineup .cusmo_arch {
  margin-bottom: 55px;
  margin-top: 75px;
}
#product.lineup .cusmo_arch h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
#product.lineup .cusmo_arch h4 span {
  font-size: 14px;
  margin-left: 10px;
}
#product.lineup .cusmo_arch p {
  font-size: 14px;
  line-height: 2.2em;
}

#product.lineup .skt_deta.arch25 {
  width: 310px;
  float: left;
}
#product.lineup .skt_deta.arch25_5 {
  width: 310px;
  float: right;
}
#product.lineup .skt_deta.arch27 {
  width: 295px;
  float: left;
  margin: 35px 0 0 0;
}
#product.lineup .img_arch_27 {
  float: left;
  margin: -10px 0 40px 20px;
}
#product.lineup .skt_deta.arch28 {
  width: 270px;
  float: left;
}
#product.lineup .img_arch_28 {
  float: left;
  margin: -25px 0 0 20px;
}

#product.lineup .roof_ex {
  margin-top: 30px;
}
#product.lineup .roof_ex h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
#product.lineup .roof_ex h4 span {
  font-size: 12px;
}
#product.lineup .roof_ex table {
  width: 650px;
  border-collapse: collapse;
  margin-bottom: 40px;
}
#product.lineup .roof_ex table img {
  vertical-align: bottom;
}
#product.lineup .roof_ex table .style_th th {
  background: #def1fb;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 0 3px 0;
}
#product.lineup .roof_ex table th {
  background: #f5fafd;
  border: 1px solid #838384;
  vertical-align: middle;
  text-align: center;
  color: #777878;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4em;
}
#product.lineup .roof_ex table th img {
  margin-top: 10px;
}
#product.lineup .roof_ex table td {
  background: #ffffff;
  border: 1px solid #838384;
  width: 137px;
  text-align: center;
  color: #777878;
  font-size: 12px;
  line-height: 1.4em;
  padding: 20px 0;
}
#product.lineup .roof_ex table td img {
  margin-bottom: 5px;
}
#product.lineup .roof_ex table .gaikan td img {
  margin-bottom: 0;
}
#product.lineup .roof_ex table .gaikan td {
  padding: 0;
}
#product.lineup .roof_ex table .genkan td {
  padding: 10px 0;
}

#product.lineup .arch_ex {
  margin-top: 30px;
}
#product.lineup .arch_ex h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
#product.lineup .arch_ex h4 span {
  font-size: 12px;
}
#product.lineup .arch_ex table {
  width: 650px;
  border-collapse: collapse;
  margin-bottom: 40px;
}
#product.lineup .arch_ex table img {
  vertical-align: bottom;
}
#product.lineup .arch_ex table .style_th th {
  background: #def1fb;
  font-weight: normal;
  font-size: 16px;
  padding: 5px 0 3px 0;
}
#product.lineup .arch_ex table th {
  background: #f5fafd;
  border: 1px solid #838384;
  vertical-align: middle;
  text-align: center;
  color: #777878;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4em;
}
#product.lineup .arch_ex table th img {
  margin-top: 10px;
}
#product.lineup .arch_ex table td {
  background: #ffffff;
  border: 1px solid #838384;
  width: 137px;
  text-align: center;
  color: #777878;
  font-size: 12px;
  line-height: 1.4em;
  padding: 20px 0;
}
#product.lineup .arch_ex table td img {
  margin-bottom: 5px;
}
#product.lineup .arch_ex table .gaikan td img {
  margin-bottom: 0;
}
#product.lineup .arch_ex table .gaikan td {
  padding: 0;
}
#product.lineup .arch_ex table .genkan td {
  padding: 10px 0;
}

#product.lineup .interior {
  margin-top: 30px;
}
#product.lineup .interior p {
  margin-bottom: 20px;
}
#product.lineup .interior h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
#product.lineup .interior h4 span {
  font-size: 12px;
}
#product.lineup .interior table {
  width: 650px;
  border-collapse: collapse;
  margin-bottom: 40px;
}
#product.lineup .interior table img {
  vertical-align: bottom;
}
#product.lineup .interior table .style_th th {
  background: #def1fb;
  font-weight: normal;
  font-size: 12px;
  padding: 8px 0 5px 0;
  line-height: 1em;
}
#product.lineup .interior table .style_th th span {
  font-size: 10px;
}
#product.lineup .interior table th {
  background: #f5fafd;
  border: 1px solid #838384;
  vertical-align: middle;
  text-align: center;
  color: #777878;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4em;
  padding: 10px 0;
}
#product.lineup .interior table th img {
  margin-bottom: 5px;
}
#product.lineup .interior table td {
  background: #ffffff;
  border: 1px solid #838384;
  width: 137px;
  text-align: center;
  color: #777878;
  font-size: 12px;
  line-height: 1.4em;
  padding: 20px 0;
  vertical-align: middle;
}
#product.lineup .interior table td img {
  margin-bottom: 5px;
}
#product.lineup .interior table .gaikan td img {
  margin-bottom: 0;
}
#product.lineup .interior table .gaikan td {
  padding: 0;
}
#product.lineup .interior table .genkan td {
  padding: 10px 0;
}

#product.lineup .interior img {
  vertical-align: bottom;
}
#product.lineup .interior .opt01 {
  border: 1px solid #949394;
  padding-left: 10px;
}
#product.lineup .interior .opt01 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt01 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt01 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt01 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt01 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt01 .fll {
  width: 335px;
}
#product.lineup .interior img {
  vertical-align: bottom;
}
#product.lineup .interior .opt02 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
}
#product.lineup .interior .opt02 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt02 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt02 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt02 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt02 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt02 .fll {
  width: 335px;
}
#product.lineup .interior .opt03 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
}
#product.lineup .interior .opt03 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt03 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt03 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt03 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt03 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt03 .fll {
  width: 430px;
}
#product.lineup .interior .opt04 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
}
#product.lineup .interior .opt04 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt04 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt04 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt04 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt04 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt04 .fll {
  width: 335px;
}
#product.lineup .interior .opt05 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
}
#product.lineup .interior .opt05 h4 {
  font-size: 14px;
  margin-top: 8px;
}
#product.lineup .interior .opt05 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt05 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt05 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt05 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt05 .fll {
  width: 335px;
}
#product.lineup .interior .opt06 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
}
#product.lineup .interior .opt06 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt06 p {
  font-size: 12px;
  margin-bottom: 15px;
}
#product.lineup .interior .opt06 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt06 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt06 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt06 .fll {
  width: 335px;
}
#product.lineup .interior .opt07 {
  border: 1px solid #949394;
  border-top: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
#product.lineup .interior .opt07 h4 {
  font-size: 14px;
  margin-top: 10px;
}
#product.lineup .interior .opt07 p {
  font-size: 12px;
  margin-bottom: 55px;
}
#product.lineup .interior .opt07 p.price {
  font-size: 13px;
  margin-bottom: 0;
}
#product.lineup .interior .opt07 p.price span {
  font-size: 18px;
  margin-left: 8px;
}
#product.lineup .interior .opt07 p.price img {
  vertical-align: top;
}
#product.lineup .interior .opt07 .fll {
  width: 370px;
}

#product.lineup .interior .line_note {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 0;
  text-indent: -1em;
  padding-left: 1em;
}
#product.lineup .interior .line_note.pd_b110 {
  padding-bottom: 110px;
}

#product.lineup #design {
  margin-top: 50px;
}
#product.lineup #option p {
  margin-bottom: 0;
}

#product.lineup .content_right .note {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 0;
  margin-top: 25px;
}