/*--------------------
	Mixin
--------------------*/
/*--------------------
	shop
--------------------*/
#header {
  background: url("../images/shop/ttl_main.jpg") no-repeat left top;
  background-size: cover;
  margin-bottom: 100px;
}

.anc_link {
  width: 1000px;
  margin: 0 auto;
  padding: 48px 0 65px 0;
}
.anc_link li {
  float: left;
  font-size: 14px;
  line-height: 1em;
  margin-left: 26px;
}
.anc_link li:first-child {
  margin-left: 0;
}
.anc_link li a {
  display: block;
  width: 230px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: #faed00;
  padding: 15px 0 12px 0;
}

h3.ttl {
  width: 1400px;
  margin: -20px auto 70px;
  padding-top: 20px;
}

.center_img {
  width: 1000px;
  margin: 0 auto;
}
.center_img img {
  vertical-align: bottom;
}

.center_1022 {
  width: 1022px;
  margin: 0 auto;
}
.center_1022 img {
  margin-left: -12px;
  vertical-align: bottom;
}

.center_1400 {
  width: 1400px;
  margin: 0 auto;
}
.center_1400 img {
  vertical-align: bottom;
}

.mg_b50 {
  margin-bottom: 50px;
}

.mg_b60 {
  margin-bottom: 60px;
}

.mg_b80 {
  margin-bottom: 80px;
}

.mg_b120 {
  margin-bottom: 120px;
}

.mg_b140 {
  margin-bottom: 140px;
}

.mg_b160 {
  margin-bottom: 160px;
}

.mg_b180 {
  margin-bottom: 180px;
}

.mg_b200 {
  margin-bottom: 200px;
}

/*add*/
.melit_01 {
  width: 1022px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.melit_01 h3 {
  margin-bottom: 27px;
}
.melit_01 h3 img {
  margin-left: -12px;
  vertical-align: bottom;
}
.melit_01 p.mp {
  color: #000;
  font-size: 18px;
  line-height: 1.8em;
  background: url("../images/shop/add/bg_border.jpg") repeat-y left top;
  padding-left: 28px;
  margin-left: 9px;
  letter-spacing: 1px;
}
.melit_01 p.mp span.big {
  font-size: 34px;
  line-height: 1.5em;
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left center;
}
.melit_01 p.mp span.normal-b {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left bottom;
}
.melit_01 p.mp span.normal-t {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left top;
}

.melit_02 {
  width: 1022px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.melit_02 h3 {
  margin-bottom: 27px;
}
.melit_02 h3 img {
  margin-left: -12px;
  vertical-align: bottom;
}
.melit_02 p.mp {
  color: #000;
  font-size: 18px;
  line-height: 1.8em;
  background: url("../images/shop/add/bg_border.jpg") repeat-y left top;
  padding-left: 28px;
  margin-left: 9px;
  letter-spacing: 1px;
}
.melit_02 p.mp span.big {
  font-size: 34px;
  line-height: 1.4em;
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left center;
}
.melit_02 p.mp span.normal-b {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left bottom;
}
.melit_02 p.mp span.normal-t {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left top;
}
.melit_02 .img_02_02 {
  margin-top: 50px;
}

.melit_03 {
  width: 1022px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.melit_03 h3 {
  margin-bottom: 27px;
}
.melit_03 h3 img {
  margin-left: -12px;
  vertical-align: bottom;
}
.melit_03 p.mp {
  color: #000;
  font-size: 18px;
  line-height: 1.8em;
  background: url("../images/shop/add/bg_border.jpg") repeat-y left top;
  padding-left: 28px;
  margin-left: 9px;
  letter-spacing: 1px;
}
.melit_03 p.mp span.big {
  font-size: 34px;
  line-height: 1.4em;
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left center;
}
.melit_03 p.mp span.normal-b {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left bottom;
}
.melit_03 p.mp span.normal-t {
  vertical-align: middle;
  background: url("../images/shop/add/mark_line.jpg") repeat-x left top;
}
.melit_03 .img_02_02 {
  margin-top: 50px;
}

.area_map_01 {
  width: 1000px;
  height: 585px;
  margin: 0 auto;
  margin-bottom: 140px;
}
.area_map_01 h3 {
  margin-bottom: 25px;
}
.area_map_01 .cf {
  background: url("../images/shop/add/map_toyama.jpg") no-repeat right bottom;
  min-height: 485px;
}
.area_map_01 .fll {
  margin-left: 17px;
}
.area_map_01 .fll h4 {
  margin-top: 15px;
}
.area_map_01 .fll h4.mg_t30 {
  margin-top: 30px;
}
.area_map_01 .fll .area1 {
  color: #88b9d1;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_01 .fll .area2 {
  color: #b0cc64;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_01 .fll .area3 {
  color: #ff96a4;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_01 .fll .bosyu {
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: 3px;
}
.area_map_01 .fll .bosyu span {
  font-size: 15px;
  letter-spacing: 2px;
}

.area_map_02 {
  width: 1000px;
  margin: 0 auto;
  background: url("../images/shop/add/dotted_border.jpg") no-repeat left top;
  padding-top: 65px;
}
.area_map_02 h3 {
  margin-bottom: 25px;
}
.area_map_02 .cf {
  background: url("../images/shop/add/map_ishikawa.jpg") no-repeat right bottom;
  min-height: 694px;
}
.area_map_02 .fll {
  margin-left: 17px;
}
.area_map_02 .fll h4 {
  margin-top: 15px;
}
.area_map_02 .fll h4.mg_t30 {
  margin-top: 30px;
}
.area_map_02 .fll .area1 {
  color: #88b9d1;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_02 .fll .area2 {
  color: #b0cc64;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_02 .fll .area3 {
  color: #ff96a4;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_02 .fll .bosyu {
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: 3px;
}
.area_map_02 .fll .bosyu span {
  font-size: 15px;
  letter-spacing: 2px;
}

.area_map_03 {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 140px;
  background: url("../images/shop/add/dotted_border.jpg") no-repeat left top;
  padding-top: 45px;
}
.area_map_03 h3 {
  margin-bottom: 25px;
}
.area_map_03 .cf {
  background: url("../images/shop/add/map_fukui.jpg") no-repeat right bottom;
  min-height: 559px;
}
.area_map_03 .fll {
  margin-left: 17px;
}
.area_map_03 .fll h4 {
  margin-top: 15px;
}
.area_map_03 .fll h4.mg_t30 {
  margin-top: 30px;
}
.area_map_03 .fll .area1 {
  color: #88b9d1;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_03 .fll .area2 {
  color: #b0cc64;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_03 .fll .area3 {
  color: #ff96a4;
  font-size: 15px;
  line-height: 1.5em;
  margin-top: 8px;
}
.area_map_03 .fll .bosyu {
  margin-top: 15px;
  font-size: 25px;
  letter-spacing: 3px;
}
.area_map_03 .fll .bosyu span {
  font-size: 15px;
  letter-spacing: 2px;
}

.jouken {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.jouken dt {
  float: left;
  padding-bottom: 5px;
}
.jouken dt img {
  vertical-align: bottom;
}
.jouken dd {
  font-size: 20px;
  line-height: 2em;
  padding-left: 45px;
  padding-bottom: 5px;
}
.jouken dd span {
  display: block;
  margin-top: -10px;
  font-size: 14px;
}
.jouken dd span.kome {
  display: inline;
}

.tabl {
  width: 1000px;
  margin: 0 auto;
}
.tabl .fll {
  color: #000;
  border: 1px solid #000;
  width: 250px;
  height: 281px;
}
.tabl .fll h4 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 4px;
}
.tabl .fll p {
  text-align: center;
  padding-top: 60px;
}
.tabl .img_plus {
  float: left;
  width: 105px;
  height: 281px;
  position: relative;
}
.tabl .img_plus img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.tabl .other {
  float: left;
  width: 645px;
  height: 281px;
  color: #000;
  border: 1px solid #000;
  font-size: 18px;
  margin-bottom: 180px;
}
.tabl .other h4 {
  margin-top: 30px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.tabl .other ul {
  width: 550px;
  margin: 0 auto;
}
.tabl .other ul li {
  letter-spacing: 1px;
  text-indent: -0.8em;
  padding-left: 0.8em;
  line-height: 1.8em;
}
