/*--------------------
	top
--------------------*/
#header {
  width: 100%;
  position: relative;
}
#header h1 {
  background: url("../images/top/header_cusmo.jpg");
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  width: 100%;
  height: 100%;
}
#header h1 img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  margin: auto;
  width: 42px;
  height: 20px;
  cursor: pointer;
}
#header #menu {
  background: url("../images/common/bg_menu.png") left top;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
#header #menu ul {
  width: 945px;
  margin: 0 auto;
}
#header #menu ul li {
  float: left;
  margin-left: 29px;
  color: #fff;
}
#header #menu ul li.cs1 {
  min-width: 140px;
}
#header #menu ul li.cs2 {
  min-width: 140px;
}
#header #menu ul li.cs3 {
  min-width: 140px;
}
#header #menu ul li:first-child {
  margin-left: 0;
}
#header #menu ul li a {
  display: block;
  padding: 35px 0 30px 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
}
#header #menu ul li a:hover {
  color: #faed00;
}

.concept .ttl_concept {
  font-size: 30px;
  text-align: center;
  line-height: 1.4em;
  color: #666666;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 30px;
}

.concept .txt_concept {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: #666666;
  letter-spacing: 5px;
  line-height: 2.2em;
}

.concept {
  margin-top: 128px;
  padding-bottom: 105px;
}
.concept h3 {
  width: 311px;
  margin: 0 auto;
  margin-bottom: 55px;
}
.concept p {
  width: 692px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.concept .btn_more {
  width: 82px;
  margin: 0 auto;
}

.bene_pro {
  background: #eeeeee;
  margin-bottom: 105px;
}
.bene_pro .cf {
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}
.bene_pro .cf .fll {
  position: relative;
  cursor: pointer;
  width: 50%;
}
.bene_pro .cf .fll img {
  vertical-align: bottom;
  width: 100%;
}
.bene_pro .cf .fll .over_soon {
  position: absolute;
  top: 0;
  left: 0;
}

.shop {
  background: #4ac0ee;
  width: 100%;
  margin-bottom: 105px;
}
.shop h3 {
  max-width: 1400px;
  min-width: 1000px;
  margin: 0 auto;
}
.shop h3 img {
  vertical-align: bottom;
  width: 100%;
}

.event {
  margin-bottom: 110px;
}
.event h3 {
  width: 283px;
  margin: 0 auto;
}
.event .btn_event {
	text-align:right;
	width:999px;
	margin:0 auto 40px;
}
.event ul {
  width: 999px;
  margin: 0 auto;
}
.event ul li {
  float: left;
  margin-left: 45px;
  width: 216px;
  min-height: 306px;
  position: relative;
}
.event ul li:hover {
  opacity: 0.8;
}
.event ul li a {
  display: block;
  color: #666;
  text-decoration: none;
}
.event li a p.thumb_img {
	width:215px;
	height:190px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.event ul li a h4 {
  font-size: 14px;
  border-left: 3px solid #666;
  line-height: 1em;
  padding: 5px 0 5px 10px;
  margin: 15px 0 10px 0;
}
.event ul li a p {
  font-size: 13px;
  line-height: 1.5em;
}
.event ul li:first-child {
  margin-left: 0;
}
.event ul li .btnmore {
  position: absolute;
  right: 0;
  bottom: 0;
}

.news h3 {
  width: 283px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.news .info {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 115px;
  background: #eeeeee;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
}
.news .info dl {
  padding: 20px 0 18px 0;
}
.news .info dl dt {
  float: left;
  margin-left: 40px;
}
.news .info dl dd {
  padding-left: 130px;
}
.news .info dd a { color:#484848;}
.news .info dd a:hover { text-decoration:none;}
.news .info .news_btn {
  position: absolute;
  top: 20px;
  right: 0;
}
.news .info .news_btn .btn_01 {
  float: left;
  vertical-align: middle;
  margin-right: 12px;
}
.news .info .news_btn .btn_02 {
  float: left;
  vertical-align: middle;
  margin-right: 80px;
}
.news .info .news_btn .btn_03 {
  float: left;
  vertical-align: middle;
  margin-right: 30px;
}

.para {
  text-align: center;
  background: #a3b8d3 url("../images/top/ttl_par.jpg") no-repeat 50% 0%;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 120px;
}

.contact {
  margin-bottom: 90px;
}
.contact h3 {
  width: 306px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.contact .btn_contact {
  width: 506px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contact .btn_contact img {
  vertical-align: bottom;
}
.contact p {
  text-align: center;
}

.news .info .news_btn .btn_01,.news .info .news_btn .btn_02 {
  cursor: pointer;
}
.news .info dl {
  display: none;
}