/*--------------------
	Mixin
--------------------*/
#header {
  background: url("../images/use/ttl_main.jpg") no-repeat center top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-width: 1000px;
}

#use {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

#use ul.fll li {
  border-bottom: 1px solid #666;
}
#use ul.fll li:first-child {
  border-top: 1px solid #666;
}

#use ul.fll li img {
  vertical-align: bottom;
}

#use .flr ul {
  padding-bottom: 200px;
}

#use .int_list li {
  border-bottom: 1px dotted #929292;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#use .int_list li:first-child {
  border-top: 1px dotted #929292;
  padding-top: 30px;
}
#use .int_list li div.fll {
  width: 450px;
}
#use .int_list li div.fll h4 {
  border-bottom: 1px solid #a9a9a9;
  font-size: 20px;
  line-height: 1em;
  padding: 8px 0 10px 25px;
  letter-spacing: 5px;
  font-weight: normal;
  margin-bottom: 20px;
}
#use .int_list li div.fll p {
  padding-left: 25px;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 2px;
  margin-bottom: 23px;
}
#use .int_list li div.fll a {
  padding-left: 25px;
}

.pagelink {
  width: 300px;
}
.pagelink a {
  display: block;
  color: #676767;
  text-decoration: none;
  font-size: 18px;
  line-height: 1em;
  padding: 20px 0;
  letter-spacing: 3px;
}
.pagelink a img {
  vertical-align: baseline !important;
  margin: 0 24px 0 24px;
}
.pagelink a:hover {
  opacity: 0.75;
}

.plttl {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 50px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 50px;
  width: 650px;
}
.casettl {
  background: url("../images/use/bg_voice_ttl.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl2 {
  background: url("../images/intro/ttl_01.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl3 {
  background: url("../images/use/bg_voice_ttl2.jpg") no-repeat left top;
  font-size: 24px;
  color: #676767;
  font-weight: normal;
  padding: 6px 0 17px 30px;
  letter-spacing: 3px;
  min-height: 46px;
  margin-bottom: 55px;
  width: 650px;
}
.casettl img,
.casettl2 img,
.casettl3 img {
  margin-right: 20px;
  vertical-align: bottom;
}

/*:/;*/
#use .flr {
  width: 655px;
}
#use h4 {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: normal;
  letter-spacing: 3px;
}
#use .flr p {
  font-size: 14px;
  line-height: 2.33em;
  margin: 40px 0 35px 0;
}
#use .flr .case_study {
  padding-bottom: 120px;
}
#use .flr .case_study li {
  margin-bottom: 25px;
}
#use .flr .case_study li img {
  vertical-align: bottom;
}

/* voice */
#use.voice .flr .case_link {
  padding-bottom: 60px;
}
.case_link li {
  float: left;
  margin-left: 15px;
}
.case_link li:first-child {
  margin-left: 0;
}
#use.voice h4 {
  font-size: 24px;
  line-height: 1.4em;
  font-weight: normal;
}
#use.voice .melit {
  margin-top: 60px;
}
#use.voice .melit h4 {
  font-size: 18px;
  line-height: 1em;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-left: -12px;
}

#use.voice .melit .mel_list {
  padding-bottom: 35px;
}
#use.voice .melit .mel_list .fll {
  width: 370px;
}
#use.voice .melit .mel_list h4 {
  border-bottom: 2px solid #cfcfcf;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}
#use.voice .melit .mel_list h4 img {
  margin-right: 10px;
}
#use.voice .melit .mel_list li {
  margin-top: 70px;
}
#use.voice .melit .mel_list li:first-child {
  margin-top: 0;
}
#use.voice .melit .mel_list p {
  margin: 0;
}
#use.voice .melit .mel_list .mlimg_01 {
  float: right;
}
#use.voice .melit .mel_list .mlimg_02 {
  float: right;
  margin-top: -35px;
}
#use.voice .melit .mel_list .mlimg_03 {
  float: right;
  margin-top: 0;
}
#use.voice .melit .mel_list .mlimg_04 {
  float: right;
  margin-top: -40px;
}
#use.voice .melit .mel_list .mlimg_05 {
  float: right;
  margin-top: -20px;
}
#use.voice .melit .mel_list .mlimg_06 {
  float: right;
  margin-top: -20px;
}
#use.voice .melit .mel_list .mlimg_07 {
  float: right;
  margin-top: -25px;
}
#use.voice .melit .mel_list .mlimg_08 {
  float: right;
  margin-top: -40px;
}
#use.voice .melit .mel_list .mlimg_09 {
  float: right;
  margin-top: 0;
}
#use.voice .owner {
  border: 1px solid #aca8a7;
  position: relative;
  padding: 35px 30px 15px 30px;
  margin-bottom: 70px;
  margin-top: 30px;
}
#use.voice .owner h3 {
  position: absolute;
  left: -1px;
  top: -28px;
}
#use.voice .owner h4 {
  font-size: 18px;
  margin-bottom: 15px;
}
#use.voice .owner p {
  font-size: 14px;
  line-height: 1.8em;
  margin: 0;
}
#use.voice .owner p.owner_name {
  text-align: right;
}
.case_01_img {
  margin-bottom: 30px;
}
.case_02_img {
  margin-bottom: 30px;
}




/* 利回りページ */
#use.shisan .shisan_plan {
  padding-bottom: 0;
}
#use.shisan .shisan_plan li {
  float: left;
  margin-left: 15px;
}
#use.shisan .shisan_plan li:first-child {
  margin-left: 0;
}
#use.shisan .note {
  font-size: 12px;
  line-height: 1.5em;
  margin: 10px 0 130px 0;
}


/* 建築の流れページ */
#use.flow .flow_tbl {
  width: 100%;
  border: 1px solid #4fa5d4;
  font-size: 14px;
  margin-bottom: 80px;
}
#use.flow .flow_tbl tr {
  border-bottom: 1px solid #4fa5d4;
}
#use.flow .flow_tbl th {
  width: 200px;
  vertical-align: middle;
  color: #1588c6;
  text-align: left;
  padding-left: 15px;
  font-weight: normal;
  line-height: 1.33em;
  position: relative;
}
#use.flow .flow_tbl th img {
  vertical-align: middle;
  margin-right: 5px;
}
#use.flow .flow_tbl th.cf img {
  float: left;
  padding-top: 8px;
}
#use.flow .flow_tbl th.cf span {
  float: left;
}
#use.flow .flow_tbl td {
  line-height: 1.4em;
  padding: 13px 0 13px 10px;
}
#use.flow .flow_tbl td span {
  font-size: 12px;
}
#use.flow .flow_tbl th .flow_01,
#use.flow .flow_tbl th.cf .flow_02,
#use.flow .flow_tbl th .flow_03,
#use.flow .flow_tbl th .flow_04 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}