/*--------------------
	works
--------------------*/
#header {
  background: url("../images/works/ttl_main.jpg") no-repeat left top;
  background-size: cover;
  margin-bottom: 100px;
}

#works {
  width: 1000px;
  margin: 0 auto;
  color: #666;
}
#works img {
  vertical-align: bottom;
}

#works h3 {
  font-size: 24px;
  line-height: 1em;
  font-weight: normal;
}

#works .category {
  margin: 50px 0 25px 0;
}
#works .category li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}

#works .works_list {
  margin-bottom: 30px;
}
#works .works_list li {
  width: 236px;
  border: 1px solid #a9a9a9;
  padding: 7px;
  text-align: center;
  float: left;
  margin: 0 0 19px 18px;
}
#works .works_list li:nth-child(4n+1) {
  margin-left: 0;
}
#works .works_list li a {
  display: block;
  color: #666;
  text-decoration: none;
}
#works .works_list li a p.thumb_img {
	width:220px;
	height:160px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#works .works_list li a:hover {
  display: block;
  background: #fff;
  opacity: 0.7;
}
#works .works_list li .cateTxt {
  font-size: 12px;
  line-height: 1em;
  margin-top: 12px;
}
#works .works_list li .nameTxt {
  font-size: 12px;
  line-height: 1em;
  margin: 5px 0;
}

#works .pager {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#works .pager li {
  float: left;
  margin-right: 10px;
  border: 1px solid #666;
  background: #666;
  color: #fff;
  line-height: 1em;
  width: 50px;
  text-align: center;
  padding: 18px 0;
  cursor: pointer;
}
#works .pager li:first-child {
  margin-right: 28px;
  width: 100px;
}
#works .pager li.wh {
  background: #fff;
  border: 1px solid #c5c5c5;
  color: #666;
  cursor: default;
}


/* detail */
#works_deta {
  width: 1000px;
  margin: 0 auto;
}
#works_deta img {
  vertical-align: bottom;
}
#works_deta h2 {
  background: url("../images/works/bg_ttl.jpg") no-repeat left top;
  width: 1000px;
  min-height: 46px;
  font-size: 20px;
  font-weight: normal;
  color: #666;
  line-height: 1em;
  margin-bottom: 38px;
  padding: 10px 0 15px 50px;
  letter-spacing: 2px;
}

#works_deta #pic {
  float: left;
}
#works_deta #pic li {
  display: none;
}
#works_deta #pic li.first {
  display: block;
}
#works_deta #pic li p {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 1em;
  margin-top: 14px;
}

#works_deta #thm {
  width: 460px;
}
#works_deta #thm li {
  float: left;
  margin: 0 0 10px 10px;
  cursor: pointer;
}
#works_deta #thm li:hover {
  opacity: 0.7;
}

#works_deta .exp {
  margin-left: 10px;
  font-size: 12px;
  color: #666;
}
#works_deta .exp img {
  margin-right: 10px;
  vertical-align: text-bottom;
}

#works_deta .inqBtn {
  background: url("../images/works/bg_border.jpg") repeat-x left top;
  text-align: center;
  padding-top: 30px;
  margin: 50px 0 120px 0;
}
#works_deta .inqBtn a img:hover {
  opacity: 0.7;
}
#works_deta li p.thumb_img {
	width:105px;
	height:77px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}




#works .pager {
  width: 600px;
	text-align:center;
  margin: 50px auto 120px;
}
#works .pager p {
	display:inline-block;
	*display: inline;
	*zoom: 1;
  width: 100px;
  background: #fff;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
  line-height: 1em;
  padding: 15px 0;
  text-align: center;
  margin-right: 30px;
}
#works .pager a {
	color:#fff;
	text-decoration:none;
}
#works .pager a:hover { text-decoration:underline;}
#works .pager ul {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
#works .pager ul li {
  width: 50px;
  text-align: center;
  padding: 15px 0;
  line-height: 1em;
  border: 2px solid #cfcfcf;
  border-radius: 1px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
  background: #666;
  color: #fff;
  margin-left: 10px;
}
#works .pager ul li.loc {
  background: #fff;
  color: #666;
}
